$bg-primary-color:#0d6efd;
$bg-success-color:#198754;
$bg-danger-color:#dc3545;

.btn{
    border:none;
    padding:8px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary{
    background-color: $bg-primary-color;
    color: #fff;
}
.btn-success{
    background-color: $bg-success-color;
    color: #fff;
}
.btn-danger{
    background-color: $bg-danger-color;
    color: #fff;
}

@mixin button($bg-color,$text-color){
    background-color:$bg-color;
    color: $text-color;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    padding:10px;
    border:none;
    cursor: pointer;
    &:hover{
        background-color: darken($bg-color,10%);
    }
}
.button-primary{
    @include button(#3498db,#fff);
}
.button-secondary{
    @include button(#e77613,#fff);
}
.button-tertiary{
    @include button(#fff,#333);
    border:1px solid #333;
}
