
//maps
$colors:(
    "primary": #0d6efd,
    "success":#198754,
    "danger":#ea162b,
    "info":#0dcaf0,
    "warning":#ffc107,
);


// Each control derivative

@each $key,$val in $colors{
    .text-#{$key}{
        color:$val;
    }
    .bg-#{$key}{
        background-color: $val;
    }

    @for $i from 1 through 3{
        .text-#{$key}-light-#{$i}{
            color:lighten($val,$i * 10);
        }
        .bg-#{$key}-light-#{$i}{
            background-color:lighten($val,$i * 10);
        }
    }

    @for $i from 1 through 3{
        .text-#{$key}-dark-#{$i}{
            color:darken($val,$i * 10);
        }
        .bg-#{$key}-dark-#{$i}{
            background-color:darken($val,$i * 10);
        }
    }
}

.text-white{
    color:#fff;
}