$padding:5px;
$margin:8px;
$utilities:(
    "padding":(
        "prefix":"p",
        "values":(
            "0":0,
            "1":$padding*2,
            "2":$padding*4,
            "3":$padding*6,
        )
    ),
    "padding-left":(
        "prefix":"pl",
        "values":(
            "0":0,
            "1":$padding*2,
            "2":$padding*4,
            "3":$padding*6,
        )
    ),
    "padding-right":(
        "prefix":"pr",
        "values":(
            "0":0,
            "1":$padding*2,
            "2":$padding*4,
            "3":$padding*6,
        )
    ),
    "padding-bottom":(
        "prefix":"pb",
        "values":(
            "0":0,
            "1":$padding*2,
            "2":$padding*4,
            "3":$padding*6,
        )
    ),
    "padding-top":(
        "prefix":"pt",
        "values":(
            "0":0,
            "1":$padding*2,
            "2":$padding*4,
            "3":$padding*6,
        )
    ),
    "margin":(
        "prefix":"m",
        "values":(
            "0":0,
            "1":$margin*2,
            "2":$margin*4,
            "3":$margin*6,
        )
    ),
    "margin-top":(
        "prefix":"mt",
        "values":(
            "0":0,
            "1":$margin*2,
            "2":$margin*4,
            "3":$margin*6,
        )
    ),
    "margin-bottom":(
        "prefix":"mb",
        "values":(
            "0":0,
            "1":$margin*2,
            "2":$margin*4,
            "3":$margin*6,
        )
    ),
    "margin-left":(
        "prefix":"ml",
        "values":(
            "0":0,
            "1":$margin*2,
            "2":$margin*4,
            "3":$margin*6,
        )
    ),
    "margin-right":(
        "prefix":"mr",
        "values":(
            "0":0,
            "1":$margin*2,
            "2":$margin*4,
            "3":$margin*6,
        )
    ),
    "opacity":(
        "prefix":"o",
        "values":(
            "0":0,
            "10":0.1,
            "20":0.2,
            "30":0.3,
            "40":0.4,
            "50":0.5,
            "60":0.6,
            "70":0.7,
            "80":0.8,
            "90":0.9,
            "100":1,
        )
    ),
);
// $marginUtilities:(
//     "margin":(
//         "prefix":"m",
//         "values":(
//             "0":0,
//             "1":$margin*2,
//             "2":$margin*4,
//             "3":$margin*6,
//         )
//     ),
//     "margin-top":(
//         "prefix":"mt",
//         "values":(
//             "0":0,
//             "1":$margin*2,
//             "2":$margin*4,
//             "3":$margin*6,
//         )
//     ),
//     "margin-bottom":(
//         "prefix":"mb",
//         "values":(
//             "0":0,
//             "1":$margin*2,
//             "2":$margin*4,
//             "3":$margin*6,
//         )
//     ),
//     "margin-left":(
//         "prefix":"ml",
//         "values":(
//             "0":0,
//             "1":$margin*2,
//             "2":$margin*4,
//             "3":$margin*6,
//         )
//     ),
//     "margin-right":(
//         "prefix":"mr",
//         "values":(
//             "0":0,
//             "1":$margin*2,
//             "2":$margin*4,
//             "3":$margin*6,
//         )
//     ),
// );

@each $property,$map in $utilities{
    $prefix : map-get($map,"prefix");
    $values:map-get($map,"values");
    @each $key,$val in $values{
        .#{$prefix}-#{$key}{
            #{$property}:$val;
        }
    }
}

// @each $prop,$map in $marginUtilities{
//     $prefix:map-get($map,"prefix");
//     $values:map-get($map,"values");
//     @each $key,$value in $values{
//         .#{$prefix}-#{$key}{
//             #{$prop}:$value;
//         }
//     }
// }