$primary-color:#3498db;
$font-family:"Roboto",sans-serif;

$base-font-size:1rem;

$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;



