@import 'variable';
@import 'button';
@import 'colors';
body{
    font-family: $font-family;
    font-size: $base-font-size;
}
h2{
    color:map-get($colors, "primary");
    font-size:20px+5;  
}

// Nested Rules

nav{
    background-color: #222;
    padding: 10px;
    a{
        text-decoration: none;
        display: inline-block;
        padding:5px 10px;
        color: #fff;
        &:last-child{
            color:#ffd000;
        }
        &:nth-child(2){
            color:$primary-color;
        }
        &:hover{
            color: map-get($colors, "success");
        }
    }
}
p{
    line-height: 30px;
    text-indent: 30px;
    font-size:16px;    
    a{
        text-decoration: none;
        color:tomato
    }
}
@function px_to_rem($px){
    @return calc($px/16)+rem;
}

@mixin text-style{
    font-family: Arial, Helvetica, sans-serif;
   font-size: px_to_rem(18);
   color:#333;
   line-height: 1.5;
}
.title{
   @include text-style;
   font-weight: bold;
   text-transform: uppercase; 
}
.para{
    @include text-style;
   font-style: italic;
   text-align: justify;
}
@import 'utilities';

%extend-border{
    border:1px solid #ccc;
    padding:10px;
    color:#333;
    font-size:1em;
}

.border{
   @extend %extend-border; 
}